<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>~~Aplikasi Fitness~~</title>
    </head>
    <body>
        <div class="container">
            <h1>Aplikasi Fitness</h1>
            <h2><a th:href="@{/daftar}">Pendaftaran</a></h2>
            <!-- <h2><a th:href="@{/login">Login</a></h2> -->
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </body>

</html>